body{
    font-family:Arial;
    background:#ffeef5;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.calculator{
    background:white;
    padding:20px;
    border-radius:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
    text-align:center;
}

#face{
    width:120px;
    margin-bottom:10px;
    transition:0.3s;
}

#display{
    width:100%;
    height:40px;
    font-size:20px;
    margin-bottom:10px;
    text-align:right;
    padding-right:10px;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,60px);
    gap:10px;
}

button{
    height:50px;
    font-size:18px;
    border:none;
    border-radius:10px;
    background:#ffd6e7;
    cursor:pointer;
    transition:0.2s;
}

button:hover{
    background:#ffbdd7;
}

button:active{
    transform:scale(0.9);
}

button:focus{
    outline:none;
}

body.dark{
    background: #1f1f1f;
}

body.dark .calculator{
    background: #2b2b2b;
    color: white;
}

body.dark button{
    background: #444;
    color: white;
}